.movie-info{
    .rating, .movie-genres, .year{
        font-family:Arial, Helvetica, sans-serif;
        font-size: small;
    }
    .movie-poster{
        height: 55vh
    }
    .poster-image{
        height: 100%
    }
    .movie-description{
        font-family: 'cogoose-reg';
        font-size: x-small;
    }
    .red-bold{
        color:#4e090b;
        font-weight: bold;
    }
}
.recommended-movie-container{
    max-height: 70vh;
    overflow-y: scroll;

    .backToIntro{
        background-color: #4e090b;
        color: white;
        text-align: center;
        border-radius: 50%;
        height:max-content;
        width: max-content;
    }

    .backToIntro:hover{
        color: #4e090b;
        background-color: white;
    }
}

@media screen and (max-width: 850px){
 .movie-poster {
    height: 40vh !important;
}   
}

@media screen and (max-width: 350px){
    .movie-poster {
       height: 30vh !important;
   }   
   }
